Include /etc/ssh/sshd_config.d/*.conf

Port 22
ListenAddress 0.0.0.0

PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no

ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*

Subsystem sftp	/usr/lib/openssh/sftp-server
PasswordAuthentication no
